/capable/       @jcape
/.github/       @jcape @nick-mobilecoin
/core/          @nick-mobilecoin
/core/build/    @jcape @nick-mobilecoin
/dcap/          @nick-mobilecoin
/sdk-tools/     @nick-mobilecoin @varsha888
/tcrypto/       @nick-mobilecoin
/test_enclave/  @nick-mobilecoin
/trts/          @nick-mobilecoin
/tservice/      @nick-mobilecoin
/tstdc/         @nick-mobilecoin
/urts/          @awygle
/util/          @jcape
/LICENSE        @jcape
