/capable/       @jcape @nick-mobilecoin
/.github/       @jcape @nick-mobilecoin
/core/          @nick-mobilecoin @jcape
/core/build/    @jcape @nick-mobilecoin
/dcap/          @nick-mobilecoin @jcape
/sdk-tools/     @nick-mobilecoin @varsha888
/tcrypto/       @nick-mobilecoin @jcape
/trts/          @nick-mobilecoin @jcape
/tservice/      @nick-mobilecoin @jcape
/tstdc/         @nick-mobilecoin @jcape
/urts/          @awygle @nick-mobilecoin
/util/          @jcape @awygle
/LICENSE        @jcape @nick-mobilecoin
