[package]
name = "mc-sgx-core-sys-types"
version = "0.7.0"
authors = ["MobileCoin"]
categories = ["external-ffi-bindings", "hardware-support", "no-std"]
description = "FFI type definitions used by SGX libraries."
edition = "2021"
keywords = ["ffi", "no-std", "sgx"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/mobilecoinfoundation/sgx"
rust-version = "1.62.1"

[lib]
doctest = false

[dependencies]
serde = { version = "1.0.152", default-features = false, features = ["derive"] }

[build-dependencies]
bindgen = "0.66.1"
cargo-emit = "0.2.1"
mc-sgx-core-build = { path = "../../build", version = "=0.7.0" }
