[package]
name = "mc-sgx-urts-sys"
version = "0.9.0"
authors = ["MobileCoin"]
categories = ["external-ffi-bindings", "hardware-support"]
description = "FFI bindings for `sgx_urts`."
edition = "2021"
keywords = ["ffi", "sgx"]
license = "Apache-2.0"
links = "sgx_urts"
readme = "README.md"
repository = "https://github.com/mobilecoinfoundation/sgx"
rust-version = "1.62.1"

[lib]
doctest = false

[features]
sim = []
default = []

[dependencies]
mc-sgx-core-sys-types = { path = "../../core/sys/types", version = "=0.9.0" }
mc-sgx-urts-sys-types = { path = "types", version = "=0.9.0" }

[build-dependencies]
bindgen = "0.69.1"
cargo-emit = "0.2.1"
mc-sgx-core-build = { path = "../../core/build", version = "=0.9.0" }
