[package]
name = "mc-sgx-dcap-ql-sys"
version = "0.4.1"
authors = ["MobileCoin"]
categories = ["external-ffi-bindings", "hardware-support"]
description = "FFI linkage for the `sgx_dcap_ql` library."
edition = "2021"
keywords = ["ffi", "sgx"]
license = "Apache-2.0"
links = "sgx_dcap_ql"
readme = "README.md"
repository = "https://github.com/mobilecoinfoundation/sgx"
rust-version = "1.62.1"

[lib]
doctest = false

[dependencies]
mc-sgx-core-sys-types = { path = "../../../core/sys/types", version = "=0.4.1" }
mc-sgx-dcap-ql-sys-types = { path = "types", version = "=0.4.1" }
mc-sgx-dcap-sys-types = { path = "../../sys/types", version = "=0.4.1" }

[build-dependencies]
bindgen = "0.63.0"
cargo-emit = "0.2.1"
mc-sgx-core-build = { path = "../../../core/build", version = "=0.4.1" }
