---
name: copyright

"on":
  schedule:
    - cron: '0 3 1 1 *'  # 03:00 AM on January 1

jobs:
  update-license-year:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: FantasticFiasco/action-update-license-year@v3
        with:
          token: ${{ secrets.MEOWBLECOIN_PAT }}
          path: |
            **/*.rs
            **/*.proto
            **/*.c
            **/*.edl
          # yamllint disable rule:line-length
          assignees: '@mobilecoinfoundation/coredev'
          # yamllint enable rule:line-length
          labels: "copyright"
          transform: (?<=^\/\/ Copyright \(c\) )(?<from>\d{4})?-?(\d{4})?
